header {
    background-color: #FFE44D;
    display: flex;
    align-items: center;
}

header .main__container .header__container {
    height: 80px;
}

.header__container  {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.header__icons {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.search__input {
    padding: 12px 20px;
    border: none;
    width: 100%;
    border-radius: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

}

.search__button {
    position: absolute;
    margin-left: -48px;
    margin-top: 15px;
    background-color: rgb(255, 255, 255, 0);
    border: none;
}


.search__input:focus + .search__button  {
    display: none;
}

.search__input:focus {
    outline: none;
}

.search__input::-ms-clear {
    display: none;
}


.main__container {
    display: flex;
    flex-direction: column;
    margin: 0px 223px;
}
.search__input::-ms-clear {
    display: none;
}